<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      Christopher Tuttle
    </title>

  </head>
  <body>


    <p>I am a student at The Ohio State University, majoring in Computer Science Engineering with a focus on software engineering,
      and minoring in Forestry, Fisheries, and Wildlife.
      You can see a copy of my resume <a href="images/resume.pdf">here</a>. <!-- Add link to resume -->

    </p>

  </body>








</html>