<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      Christopher Tuttle
    </title>

  </head>
  <body>

    <div class="headshot">
      <img src="images/headshot.jpg" width="500" height="600" alt="Headshot"/>
    </div>


    <p>I am a student at The Ohio State University, majoring in Computer Science Engineering with a focus on software engineering,
      and minoring in Forestry, Fisheries, and Wildlife.</p>

      <p>You can see a copy of my resume <a href="images/resume.pdf">here</a>. <!-- Add link to resume --></p>

  </body>








</html>